# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Coverage directory used by tools like istanbul
coverage/

# Build output
dist/
build/

# Temporary files
.vscode/
.idea/
.history/

# Editor directories
.editorconfig
.eslintcache
